@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*background: #222;*/
  font-family: Popins, sans-serif;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background: #222;
  /*position: fixed;*/
}

body.lightTheme {
  animation: lt linear .5s 1 forwards;
}

@keyframes lt {
  from {
    opacity: 1;
    background-color: #ffffff;

  }
  to {
    opacity: 1;
    background-color: #222222;
    color: #ffffff;
    transition: 1s;
  }
}

body.dark-theme {
  animation: dt linear .5s 1 forwards;
}

@keyframes dt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: #ffffff;
    color: rgb(116, 116, 116);
    transition: 1s;
  }
}

body {
  color: #fff;
  font-size: 12px;
  overflow: hidden;
}

a {
  color: rgb(0, 204, 250);
  text-decoration: none;
}
