.title {
    text-align: center;
    margin: 0;
    padding: 0 0 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #330867;
}

.cardsRow {
    display: flex;
    gap: 20px;
    font-size: .5em;
}

.card {
    width: 150px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: #80abe3;
}

.active {
    background-color: #007bff;
    color: white;
}

.contentRow {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.contentContainer {
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.backButton {
    border-radius: 8px;

    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.backButton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 586px){
    .container {
        gap: 10px;
    }
    .card {
        width: 140px;
        height: 80px;
    }
    .cardsRow {
        color: red;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        font-size: .5em;
    }
}

.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Анимация скрытия */
.fadeOut {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
