.p {
    margin: 0 0 13px 0;
}

.center {
    text-align: justify;
}

.container {
    padding: 20px 0 0;
    width: 95%;
    /*width: 1140px;*/
    max-width: 1140px;
    margin: 0 auto;
    font-size: calc((100vw - 480px) / (1280 - 480) * (24 - 16) + 16px);

}

.container.lightTheme {
    animation: lt linear .5s 1 forwards;
    text-shadow: 10px 5px 10px #000;
    color: #FFFFFF;

}
.container.darkTheme {
    animation: dt linear .5s 1 forwards;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}

.episode {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.episodeNumber {
    font-size: 10vw;
    font-weight: 600;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(20vw + 20px);
    transition: all 0.2s ease-in;

    animation: fade-left 2s ease-in-out forwards;

}

.episodeContent {
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
    animation: fadeIn 1s ease-in-out;

}

.episodeContent .title {
    font-weight: 600;

    padding: 40px 40px 0 0;
    position: sticky;
    top: 0;
    text-align: justify-all;
    height: calc(20vw + 20px);
}

.episodeContent .story {
    line-height: 26px;
    animation: fade-up 2s ease-out forwards;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-450px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .episodeContent {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }
}

@media (max-width: 576px) {
    /*.center {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.episodeContent .story {*/
    /*    font-size: 15px;*/
    /*}*/

    .episodeContent .title {
        padding: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: justify-all;
    /*padding: 0 0 0 15px;*/
}

.lightLink {
    transition: 0.4s ease;
    line-height: 1.3em;
    padding: 0.05em 0.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #fff;
    --c1: hsl(276 51% 47% / 1);
    --c2: hsl(36 97% 63% / 1);
    --c-m: hsl(0 98% 55% / 1);
    --g1: #0000 .5em,var(--c1) calc(.5em + 1px);
    --g2: #0000 .5em,var(--c2) calc(.5em + 1px);
    --g3: var(--c1),var(--c-m),var(--c2);
    background:            linear-gradient(90deg, var(--g3)) center,
            linear-gradient(110deg,var(--g1)) left,
            linear-gradient(-70deg,var(--g2)) right;
    background-size:
            calc(100% - 2em) calc(100% - .15em),
            2em calc(100% - .15em),
            2em calc(100% - .15em);

    background-repeat:no-repeat;
    transform-origin: center calc(100% - 0.18em);
}

.lightLink:hover {
    --bg: #00d5ff;
    color: #1f2020;
    background-size:
            calc(100% - 2em) max(0.1em, 2px),
            2em max(0.1em, 2px),
            2em max(0.1em, 2px);
    background-position-y: calc(100% - 0.18em);
    text-shadow:
            0 -0.05em 0 var(--bg),
            -0.05em -0.05em 0 var(--bg),
            -0.05em 0 0 var(--bg),
            0 0.05em 0 var(--bg),
            0.05em 0.05em 0 var(--bg),
            0.05em 0 0 var(--bg);
}
