.header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 1;
    justify-content: space-between;
}

.header .a {
    margin-right: 40px;
    position: relative;
    z-index: 100;
}

.header .a.lightTheme {
    color: #f1683a;
    text-shadow: 10px 5px 10px #000;
    font-weight: 700;

}
.header .a.darkTheme {
    color: rgb(0, 204, 250);
    text-shadow: 10px 5px 10px #ffffff;
    font-weight: 700;
}

.input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    z-index: 100;
}

.label {
    cursor: pointer;
    text-indent: 8px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    position: relative;
    z-index: 100;
    /*color: #222222;*/
}

.label .lightTheme {
    cursor: pointer;
    text-indent: 8px;
    width: 50px;
    height: 25px;
    background: rgb(255, 214, 0);
    display: flex;
    align-items: center;
    border-radius: 100px;
    position: relative;
    z-index: 100;
    transition: .5s;
}

.label .darkTheme {
    cursor: pointer;
    text-indent: 8px;
    width: 50px;
    height: 25px;
    background: rgb(0, 66, 151);
    display: flex;
    align-items: center;
    border-radius: 100px;
    position: relative;
    z-index: 100;
    transition: .5s;
}

.label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 90px;
    transition: 0.3s;
}

.input:checked + .label {
    background: rgb(248, 196, 0);
}

.input:checked + .label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.label:active:after {
    width: 20px;
}

.spanLight {
    text-shadow: 2px 2px 2px 2px #222222;
    color: #ffd700;

}

.spanNight {
    text-shadow: 2px 2px 2px 2px #222222;
}

@media (max-width: 576px) {
    .header {
        width: 1140px;
        max-width: 90%;
    }
    .header .a {
        margin-right: 20px;
        font-size: 14px;
    }
}