.div {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    align-items: center;
    justify-content:  flex-start;
    background: #212121;
}

.h1 {
    text-align: center;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    max-width: 80%;
    min-height: 85vh;
    margin: 0 auto;

    padding: 20px 0;
    box-sizing: border-box;
}

.questionsList {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

/*.questionsList::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

.questionItem {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;

}

.questionItem:hover {
    background-color: #767676;
}

.active {
    background-color: #007bff;
    color: white;
}

.commentContainer {
    width: 85%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 1.5s ease;
}

.fadeIn {
    opacity: 1;
    transform: translateX(0);
}

.fadeOut {
    opacity: 0;
    transform: translateX(20px);
}

.commentContent {
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.commentContent h2 {
    margin-bottom: 10px;
}

/*.commentContent p {*/
/*    font-size: 16px;*/
/*    line-height: 1.5;*/
/*}*/

.commentContainer.show {
    opacity: 1;
    transform: translateY(0);
}

.commentContainer.hide {
    opacity: 0;
    transform: translateY(30px);
}

.linkBack {
    position: absolute;
    bottom: 15px;
    right: 25px;
    background: #bbbbbb;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 8px;
}

.linkBack:hover {
    transition: 0.3s ease-in-out;
    background: #007bff;
}

@media screen and (max-width: 786px) {

    .div {
        height: 100%;
        font-size: 10px;
        min-height: 90vh;

    }

    .container {
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content:  flex-start;


    }

    .questionsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        width: 85%;
        height: 100%;
        margin: 0 auto;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .commentContainer {
        padding: 10px 0 0 0;
        margin: 0 auto;


    }

    .commentContent {
        padding: 10px 10px 50px 10px;
    }

    .text {
        font-size: 12px;
    }


    .questionItem {
        display: flex;
    }
}

@media screen and (min-width: 787px) and (max-width: 1024px) {
    .div {
        height: 100%;
        font-size: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content:  flex-start;
    }

    .questionsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        width: 85%;
        height: 100%;
        margin: 0 auto;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .commentContainer {
        padding: 10px 0 0 0;
        margin: 0 auto;
    }

    .text {
        font-size: 16px;
    }

    .commentContent {
        padding: 10px 10px 50px 10px;
        font-size: 10px;

    }

    .questionItem {
        display: flex;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        min-height: 100%;
    }
}
