.container {
    border-top: 1px solid #eeeeee;
    width: 1140px;
    max-width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background: #222222;
    gap: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-family: monospace;
}

.container.lightTheme {
    animation: lt linear .5s 1 forwards;
}

@keyframes lt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: #222222;
        color: #ffffff;
        transition: 1s;
    }
}

.container.darkTheme {
    animation: dt linear .5s 1 forwards;
}

@keyframes dt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: #ffffff;
        color: rgb(116, 116, 116);
        transition: 1s;
    }
}

.title {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: Popins, sans-serif;
    margin: 0;
    padding: 0;

    transform: translateY(50%);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
    font-size: 3em;
}

.subtitle {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);;
    margin: 0;
    padding: 0;

    transform: translateY(50%);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;

    font-size: 1em;

}

.subtitle .h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.table {
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-auto-rows: minmax(auto, auto);
    border: 1px solid #fff;
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1em;


}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@media screen and (max-width: 678px) {
    .title {
        font-size: 1em;
    }

    .subtitle {
        font-size: 0.5em;
    }

    .table {
        padding: 5px;
        gap: 5px;
        font-size: 1.2em;
    }
}
