.container {
    animation: fade-in 1s ease-out forwards;
    width: 1140px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fade-new {
    from {
        opacity: 0;
        transform: translateX(-520px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.social-contract-table {
    border-collapse: collapse;
    width: 100%;
}

.social-contract-table th,
.social-contract-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.social-contract-table th {
    opacity: 0;
    background-color: #fff;

}
.social-contract-table th:nth-child(1) {
    color: #222222;
    animation: fade-new 1s ease-out 0s forwards;
    text-align: center;
}

.social-contract-table th:nth-child(2) {
    color: #222222;
    text-align: center;

    animation: fade-new 1.25s ease-out 1s forwards;

}

.social-contract-table th:nth-child(3) {
    color: #222222;
    text-align: center;
    animation: fade-new 1.5s ease-out 2s forwards;

}

.row {
    animation: row-fade-in 0.5s ease-out;
}

@keyframes row-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contract-description {
    animation: description-fade-in 0.8s ease-out;
}

@keyframes description-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}