.container {
    animation: fade-in 1s ease-out forwards;
    width: 1140px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-new {
    from {
        opacity: 0;
        transform: translateX(-520px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.socialContractTable {
    border-collapse: collapse;
    width: 100%;
}

.socialContractTable th,
.socialContractTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.socialContractTable th {
    opacity: 0;
    background-color: #fff;
}

.socialContractTable th:nth-child(1) {
    color: #222222;
    animation: fade-new 1s ease-out 0s forwards;
    text-align: center;
}

.socialContractTable th:nth-child(2) {
    color: #222222;
    text-align: center;
    animation: fade-new 1.25s ease-out 1s forwards;
}

.socialContractTable th:nth-child(3) {
    color: #222222;
    text-align: center;
    animation: fade-new 1.5s ease-out 2s forwards;
}

.row {
    animation: row-fade-in 0.5s ease-out;
}

.subtitle {
    margin: 10px 0;
    padding: 0;

    transform: translateY(50%);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;

    font-size: 1.1em;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.cardContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
}

.card {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.cardContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

}

@keyframes row-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contractDescription {
    margin-top: 20px;
    animation: description-fade-in 0.8s ease-out;
}

@keyframes description-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
