.carousel {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    user-select: none;
    cursor: grab;
}

.carousel.loaded {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
    opacity: 1;
}

.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item .img.lightTheme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.carousel .list .item .img.darkTheme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    filter: hue-rotate(150deg);
}


.carousel .list .item .content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 10px 5px 10px #000;
    opacity: 0;
}

/*theme mode*/
.carousel .list .item .content.lightTheme {
    animation: lt linear .5s 1 forwards;
}

@keyframes lt {
    to {
        color: #FFF;
        text-shadow: 10px 5px 10px #000;
        opacity: 1;
    }
}

.carousel .list .item .content.darkTheme {
    animation: dt linear .5s 1 forwards;
    opacity: 1;
}

@keyframes dt {
    to {
        color: #ffffff;
        text-shadow: 10px 5px 10px #000;
    }
}
/*end theme mode*/

.carousel .list .item .author {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 1.5em;
}

.carousel .list .item .title,
.carousel .list .item .topic {
    text-transform: uppercase;

    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}

.carousel .list .item .topic {
    padding: 5px 0;
    color: #f1683a;
}

.carousel .list .item .topic.darkTheme {
    padding: 5px 0;
    color: #00b3ff;
    text-shadow: 10px 5px 10px #000;
}

.carousel .list .item .des.lightTheme {
    font-size: 1rem;
    text-align: justify;
    color: #fff;
    text-shadow: 10px 5px 10px #000;
}

.carousel .list .item .des.darkTheme {
    font-size: 1rem;
    text-align: justify;
    color: #ffffff;
    text-shadow: 10px 5px 10px #000;

}

.carousel .list .item .buttonsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    color: #222222;
}

.carousel .list .item .buttonsWrapper .button {
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Popins, sans-serif;
    font-weight: 500;
}

.carousel .list .item .button:hover {
    box-shadow: 0 0 5px 1px #eeeeee;
}

.carousel .list .item .button:nth-child(2) {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

.carousel .list .item .button:nth-child(2):hover {
    text-shadow: #ffffff 0 0 10px;
    box-shadow: none;
}

.miniatureWrapper {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;

    transform: translateX(550px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 1s 1.3s linear forwards;
}

.miniature {
    position: relative; /*prev = absolute*/
    /*bottom: 50px;*/
    /*left: 50%;*/
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.miniature .item.lightTheme {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    border-radius: 20px;
    border: inset 2px #ffaa00;
}

.miniature .item.darkTheme {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    border-radius: 20px;
    border: inset 2px #00d9ff;
}

.miniature .item .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /*border: inset 2px #ffaa00;*/
}

.miniature .item .img.lightTheme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /*border: inset 2px #ffaa00;*/
}

.miniature .item .img.darkTheme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /*border: inset 2px #00d9ff;*/
    filter: hue-rotate(150deg);
}

.miniature .item .content {
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: rgba(116, 116, 116, 0.44);
    /*border: inset 2px #ffaa00;*/
    border-top: none;
}
.miniature .item .content.darkTheme {
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: rgba(116, 116, 116, 0.44);
    /*border: inset 2px #00d9ff;*/
    border-top: none;
}

.miniature .item .content .title {
    font-weight: bold;
    font-size: 14px;
    color: #3a6897;
    text-shadow: 10px 5px 10px rgba(52, 52, 52, 0.5);

}

.miniature .item .content .description{
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;

}

/* arrows */

.arrowsWrapper {
    position: absolute;
    top: 90%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 100;

    transform: translateX(-550px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.5s linear 1 forwards;
}

.arrowsWrapper .buttonArrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.arrowsWrapper .buttonArrow:hover {
    background-color: #eee;
    border: inset 3px #ffaa00;

    color: #555;
}

/* animation */
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttonsWrapper {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
            opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s!important;
}

.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s!important;

}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s!important;
}

.carousel .list .item:nth-child(1) .content .buttonsWrapper {
    animation-delay: 1.8s!important;
}

/* create animation when next click */
.carousel.next .list .item:nth-child(1) .img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .miniature .item:nth-last-child(1) {
    overflow: hidden;
    animation: showMiniature .5s linear 1 forwards;
}

.carousel.prev .list .item .img {
    z-index: 100;
}

@keyframes showMiniature {
    from {
        width: 0;
        opacity: 0;
    }
}

.carousel.next .miniature {
    animation: transformMiniature .5s linear 1 forwards;
}

@keyframes transformMiniature {
    from {
        transform: translateX(150px);
    }
}

/* running time */
.carousel .time {
    width: 0;
    height: 10px;
    background-color: #f1683a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    from {
        width: 100%
    }
    to {
        width: 0;
    }
}

.carousel .miniature .img:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 1px #eeeeee;
}

.carousel.next .miniature .item:nth-last-child(1):hover {
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #eeeeee;
}
.carousel.prev .miniature .item:nth-child(1):hover {
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #eeeeee;
}

/* prev click */
.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item.animationInProgress:nth-child(2) {
    z-index: 0;
}

.carousel.prev .list .item:nth-child(2) .img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage .5s linear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev .miniature .item:nth-child(1) {
    overflow: hidden;
    opacity: 1;
    animation: showMiniature .5s linear 1 forwards;
}

/*.carousel.next .arrowsWrapper .buttonArrow,*/
/*.carousel.prev .arrowsWrapper .buttonArrow {*/
/*    pointer-events: none;*/
/*}*/

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttonsWrapper {
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Iphone 5 display 320 px */

@media only screen and (min-width: 320px) and (max-width: 374px){

    .miniatureWrapper {
        position: absolute;
        bottom: 0;
        left: -8%;
        width: max-content;
        z-index: 100;
        display: flex;

        transform: translateX(550px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent 1s 1.3s linear forwards;
    }

    .carousel .list .item .content {
        padding-right: 5%;
        top: 10%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 10px;
    }

    .carousel .list .item .content .title {
        font-size: 10px;
    }

    .carousel .list .item .content .topic {
        font-size: 10px;
    }

    .carousel .list .item .content .des {
        font-size: 11px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 25px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 8px;
        width: 70px;
        height: 90px;
        flex-shrink: 0;
        position: relative;
    }
    .carousel .miniature .item .description {
        font-size: 8px;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 10px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }

    @keyframes outImage {
        to {
            width: 70px;
            height: 90px;
            border-radius: 20px;
            left: 50%;
            bottom: 10px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }
}

/* Iphone X display 375 px */

@media only screen and (min-width: 375px) and (max-width: 429px) {

    .carousel .list .item .content {
        padding-right: 10%;
        top: 10%;
        width: 100%;
        height: 100%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 30px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 10px;
        width: 100px;
        height: 130px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 10px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }

    @keyframes outImage {
        to {
            width: 100px;
            height: 130px;
            border-radius: 20px;
            left: 50%;
            bottom: 10px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }
}

/* Iphone 15 Pro Max display 430 px */

@media only screen and (min-width: 430px) and (max-width: 567px) {

    .carousel .list .item .content {
        padding-right: 10%;
        top: 10%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 14px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 35px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 10px;
        width: 120px;
        height: 150px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 20px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 120px;
        }
    }

    @keyframes outImage {
        to {
            width: 120px;
            height: 150px;
            border-radius: 20px;
            left: 50%;
            bottom: 20px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 120px;
        }
    }
}

/* Iphone 5 orientation landscape display 568 px */

@media only screen and (min-width: 568px) and (max-width: 811px) {

    .carousel .list .item .content {
        padding-right: 0;
        top: 15%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 12px;
    }

    .carousel .list .item .content .title {
        font-size: 12px;
    }

    .carousel .list .item .content .topic {
        font-size: 12px;
    }

    .carousel .list .item .content .des {
        font-size: 10px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 20px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 8px;
        width: 70px;
        height: 90px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 5px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }

    @keyframes outImage {
        to {
            width: 70px;
            height: 90px;
            border-radius: 20px;
            left: 50%;
            bottom: 5px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }
}

/* Iphone X orientation landscape  display 812 px */

@media only screen and (min-width: 812px) and (max-width: 931px) {

    .carousel .list .item .content {
        padding-right: 0;
        top: 13%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 25px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 9px;
        width: 80px;
        height: 100px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 5px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 80px;
        }
    }

    @keyframes outImage {
        to {
            width: 80px;
            height: 100px;
            border-radius: 20px;
            left: 50%;
            bottom: 5px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 80px;
        }
    }
}

/* Iphone 15 Pro Max orientation landscape  display 932 px */

@media only screen and (min-width: 932px) and (max-width: 1024px) {

    .carousel .list .item .content {
        padding-right: 15%;
        top: 13%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 30px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 10px;
        width: 100px;
        height: 140px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 5px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }

    @keyframes outImage {
        to {
            width: 100px;
            height: 140px;
            border-radius: 20px;
            left: 50%;
            bottom: 5px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }
}
