.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -50px;
    position: absolute;
}

.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    /*overflow: hidden;*/
}

.carousel .list .item .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

.carousel .list .item .content.loaded {
    opacity: 1;
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 10px 5px 10px #000;
    overflow: hidden;
}

.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
    width: 100%;
}

.carousel .list .item .content .topic {
    padding: 5px 0;
    color: #f1683a;
}

.carousel .list .item .content .des {
    font-size: 1rem;
}

.carousel .list .item .content .buttonsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    color: #222222;
}

.carousel .list .item .content .buttonsWrapper .button {
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Popins, sans-serif;
    font-weight: 500;
}

.carousel .list .item .content .button:hover {
    box-shadow: 0 0 5px 1px #eeeeee;
}

.carousel .list .item .content .button:nth-child(2) {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

.carousel .list .item .content .button:nth-child(2):hover {
    text-shadow: #ffffff 0 0 10px;
    box-shadow: none;
}

/* animation */
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttonsWrapper {
    transform: translateY(50%);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
            opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .title {
    animation-delay: 1.2s!important;
}

.carousel .list .item:nth-child(1) .topic {
    animation-delay: 1.4s!important;

}

.carousel .list .item:nth-child(1) .des {
    animation-delay: 1.6s!important;
}

.carousel .list .item:nth-child(1) .buttonsWrapper {
    animation-delay: 1.8s!important;
}

.carousel.next .list .item:nth-child(1) .img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .miniature .item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showMiniature .5s linear 1 forwards;
}

.carousel .miniature .img:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 1px #eeeeee;
}

.carousel.next .miniature .item:nth-last-child(1):hover {
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #eeeeee;
}
.carousel.prev .miniature .item:nth-child(1):hover {
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #eeeeee;
}

@keyframes showMiniature {
    to {
        width: 150px;
    }
}

.carousel.next .miniature {
    transform: translateX(150px);
    animation: transformMiniature .5s linear 1 forwards;
}

@keyframes transformMiniature {
    to {
        transform: translateX(0);
    }
}

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item.animationInProgress:nth-child(2) {
    z-index: 0;
}

.carousel.prev .list .item:nth-child(2) .img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage .5s linear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev .miniature .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 1;
    animation: showMiniature .5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttonsWrapper {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next .arrowsWrapper .buttonArrow,
.carousel.prev .arrowsWrapper .buttonArrow {
    /*pointer-events: none;*/
}

.time {
    width: 0;
    height: 10px;
    background-color: #f1683a;
    /*border-radius: 20px;*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    from {
        /*background-color: #f1683a;*/
    }
    to {
        /*background-color: transparent;*/
        width: 0;
        /*height: 1px;*/
    }
}

.miniature {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.miniature .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.miniature .item .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.miniature .item .content {
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: rgba(116, 116, 116, 0.44);
}

.miniature .item .content .title {
    font-weight: bold;
    color: #00d9ff;
}

.arrowsWrapper {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 100;
}

.arrowsWrapper .buttonArrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
}

.arrowsWrapper .buttonArrow:hover {
    background-color: #eee;
    color: #555;
}

/* Iphone 5 display 320 px */

@media only screen and (min-width: 320px) and (max-width: 374px){

    .carousel .list .item .content {
        padding-right: 5%;
        top: 10%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 10px;
    }

    .carousel .list .item .content .title {
        font-size: 10px;
    }

    .carousel .list .item .content .topic {
        font-size: 10px;
    }

    .carousel .list .item .content .des {
        font-size: 11px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 25px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 8px;
        width: 70px;
        height: 90px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 10px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }

    @keyframes outImage {
        to {
            width: 70px;
            height: 90px;
            border-radius: 20px;
            left: 50%;
            bottom: 10px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }
}

/* Iphone X display 375 px */

@media only screen and (min-width: 375px) and (max-width: 429px) {

    .carousel .list .item .content {
        padding-right: 10%;
        top: 10%;
        width: 100%;
        height: 100%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 30px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 10px;
        width: 100px;
        height: 130px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 10px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }

    @keyframes outImage {
        to {
            width: 100px;
            height: 130px;
            border-radius: 20px;
            left: 50%;
            bottom: 10px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }
}

/* Iphone 15 Pro Max display 430 px */

@media only screen and (min-width: 430px) and (max-width: 567px) {

    .carousel .list .item .content {
        padding-right: 10%;
        top: 10%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 14px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 35px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 10px;
        width: 120px;
        height: 150px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 20px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 120px;
        }
    }

    @keyframes outImage {
        to {
            width: 120px;
            height: 150px;
            border-radius: 20px;
            left: 50%;
            bottom: 20px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 120px;
        }
    }
}

/* Iphone 5 orientation landscape display 568 px */

@media only screen and (min-width: 568px) and (max-width: 811px) {

    .carousel .list .item .content {
        padding-right: 0;
        top: 15%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 12px;
    }

    .carousel .list .item .content .title {
        font-size: 12px;
    }

    .carousel .list .item .content .topic {
        font-size: 12px;
    }

    .carousel .list .item .content .des {
        font-size: 10px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 20px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 8px;
        width: 70px;
        height: 90px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 5px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }

    @keyframes outImage {
        to {
            width: 70px;
            height: 90px;
            border-radius: 20px;
            left: 50%;
            bottom: 5px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 70px;
        }
    }
}

/* Iphone X orientation landscape  display 812 px */

@media only screen and (min-width: 812px) and (max-width: 931px) {

    .carousel .list .item .content {
        padding-right: 0;
        top: 13%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 25px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 9px;
        width: 80px;
        height: 100px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 5px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 80px;
        }
    }

    @keyframes outImage {
        to {
            width: 80px;
            height: 100px;
            border-radius: 20px;
            left: 50%;
            bottom: 5px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 80px;
        }
    }
}

/* Iphone 15 Pro Max orientation landscape  display 932 px */

@media only screen and (min-width: 932px) and (max-width: 1024px) {

    .carousel .list .item .content {
        padding-right: 15%;
        top: 13%;
    }

    .carousel .list .item .content .author {
        letter-spacing: 5px;
        font-size: 14px;
    }

    .carousel .list .item .content .title {
        font-size: 14px;
    }

    .carousel .list .item .content .topic {
        font-size: 14px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .carousel .list .item .content .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: 30px;
        gap: 25px;
        margin-top: 20px;
        font-size: 10px;
        color: #222222;
    }

    .carousel .list .item .content .button {
        width: 100px;
    }

    .carousel .miniature {
        left: 50%;
        gap: 5px;
    }

    .carousel .miniature .item {
        font-size: 10px;
        width: 100px;
        height: 140px;
        flex-shrink: 0;
        position: relative;
    }

    .carousel .arrowsWrapper .buttonArrow {
        width: 30px;
        height: 30px;
    }

    .carousel .arrowsWrapper {
        display: flex;
        justify-content: space-between;
        width: 70px;
        left: 10%;
        bottom: -5%;
    }

    .miniature {
        bottom: 5px;
    }

    .miniature .item .img {
        border-radius: 10px;
    }

    .miniature .item .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .miniature .item .content .title {
        font-size: .8em;
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }

    @keyframes outImage {
        to {
            width: 100px;
            height: 140px;
            border-radius: 20px;
            left: 50%;
            bottom: 5px;
        }
    }

    @keyframes showMiniature {
        to {
            width: 100px;
        }
    }
}
