.wrapper {
    /*width: 100%;*/
    /*height: 100%;*/
    background: transparent;
    /*color: #330867;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 1em;

}

.title {
    text-align: center;
    font-size: 1em;

}
